<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <title>Formulario de Notas</title>
</head>
<body>
    <div class="container">
    <form method="POST">
        <label>Nota 1:</label>
        <input type="number" name="nota1" min="10" max="70" required><br><br>

        <label>Nota 2:</label>
        <input type="number" name="nota2" min="10" max="70" required><br><br>

        <label>Nota 3:</label>
        <input type="number" name="nota3" min="10" max="70" required><br><br>

        <label>Asistencia(%):</label>
        <input type="number" name="asistencia" min="0" max="100" required><br><br>

        <button type="submit">Enviar</button>
    </form>

    {% if resultado %}
        <hr>
        {% if resultado.error %}
            <p style="color:red">{{ resultado.error }}</p>
        {% else %}
            <p>Promedio: {{ resultado.promedio }}</p>
            <p>Estado: {{ resultado.estado }}</p>
        {% endif %}
    {% endif %}
<br><br>
<form action="/">
    <button type="submit">Volver al inicio</button>
</form>
</div>
</body>
</html>
